* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color:#ccc;
}

a {
    color:orange;
    text-decoration: none;
    font-weight: bold;
}

.signup {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.box__left {
    flex: 0 0 50%;
    background-image: url('../img/bg.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.box__right {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}

.box__right .heading {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 24px;
}

.box__right .info {
    margin-bottom: 32px;
    text-align: center;
}

.form {
    display: flex;
}

.form__group {
    display: flex;
    flex-direction:column;
    margin-bottom: 20px;
    margin-right: 24px;
    margin-left: 24px ;
}

.form__group-checkbox {
    padding-left: 4px;
}

.form__check {
    display: flex;
    flex-direction: column;
}

.form__group input[type="checkbox"] {
    transform:scale(1.7);
    margin-right: 8px;
}

.form__group label {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4px;
    font-size: 15px;
}

.form__group .form-control {
    width: 230px;
    padding: 16px 8px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:6px;
    outline:none;
}

.form__group .form-control.invalid {
    border:1px solid red;
}

.form__group .form-message.invalid {
    color: red;
    font-size: 13px;
    margin-top: 3px;
}

.form__group .form-control:focus {
    border:1px solid orange;
}

.form-messages {
    display: block;
}

.form-btn {
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 24px;
}

.signupbtn {
    background-color:orange;
    margin-top: 16px;
    padding: 16px 48px;
    border-radius: 5px;
    border: none;
    outline: none;
    color:white;
    font-size:15px;
    font-weight: bold;
    opacity: 0.8;
}

.signupbtn:hover {
    opacity: 1;
}

.signupbtn:active {
    opacity: 0.8;
}

@media screen and (max-width:1200px) {

    .signup {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: scroll;
    }

    .box__left {
        flex: 0 0 20%;
    }
    
    .box__right {
        flex: 0 0 80%;
        justify-content: start;
    }


    .box__right .heading {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 24px;
    }
    
    .box__right .info {
        margin-bottom: 16px;
    }

    .form__group {
        margin-bottom: 16px;
        margin-right: 16px;
        margin-left: 16px ;
    }

    .form-btn {
        margin-left: 14px;
    }
}

@media screen and (max-width:700px) {
    
    .box__right .heading {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 16px;
        margin-top: 12px;
    }
    
    .box__right .info {
        margin-bottom: 24px;
    }

    .box__right .form {
        flex-direction: column;
        align-items: center;
    }

    .form__group .form-control {
        width: 300px;
    }

    .form__group .form__check {
        margin-bottom: 24px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .form-btn {
        display: flex;  
        justify-content:center;
    }

    .signupbtn {
        margin-top: 12px;
        margin-bottom: 40px;
    }
}





